*{
    font-family: 'Gochi Hand', 'Handlee', 'Patrick Hand', cursive;
    font-size: 1.2em;
}

body {
    background-color: rgb(85, 61, 29);
    color: rgb(58, 58, 143);
}

main {
    background-color: rgb(245, 244, 244);
    width: 80%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.301);
}

h2 {
    font-size: 2em;
}

.list-item, .create-item-section {
    margin: 10px 10px 0px 10px;
    border-bottom: 2px dotted rgb(151, 108, 51);
    text-align: justify;
    font-weight: 400;
}

.lbl-list-item {
    display: flexbox;
    margin: 0 10px;
}

.edit-remove-item, .confirm-decline-edit-item {
    color: rgb(119, 119, 119);
    display: contents;
}

i {
    margin-left: 20px;
}

.create-item-section {
    margin-top: 0px;
    padding-bottom: 0px;
}

#item-description, #btn-create-item {
    border: none;
    color: rgb(58, 58, 143);
    background-color: rgba(245, 244, 244, 0);
    margin: 0;
    margin-top: 5px;
}

#item-description {
    width: 82%;
    outline: none;
    padding: 0px;
    padding-left: 25px;
    font-size: 1em;
}

#btn-create-item {
    width: 15%;
    font-weight: bolder;
    font-size: 1.2em;
    padding: 0px;
}